//Family Font
$h-family: 'Lato', sans-serif;
$a-family: 'Arvo', serif;
$p-family: 'Arvo', serif;
$date-family: 'Lato', sans-serif; 

//Size Font
$h1-size: 18px;
$h2-size: 25px;
$h3-size: 19px;
$h4-size: 14px;
$a-size: 14px;
$p-size: 16px;
$date-size: 14px;

//Colors
$brown: #6B3B25;
$yellow: #C78301;
$a-color: #EFE6DB;